@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@500;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 800;
  color: #20212c;
}

img {
  width: 100%;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(233, 83, 110, 0.7),
    rgba(76, 76, 123, 0.7)
  );
  z-index: -1;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 14px 22px;
  transition: all 0.3s ease;
}

.btn-main {
  background: linear-gradient(
    to right top,
    rgba(76, 76, 123),
    rgba(233, 83, 110)
  );
  border-radius: 100px;
  border: none;
  font-weight: 600;
  color: #fff;
}

.btn:hover {
  color: #fff;
  transform: translateY(-5px);
}

.navbar {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  background: -webkit-linear-gradient(#00e0fe, #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-intro {
  margin-bottom: 40px;
}

.section-intro .divider {
  height: 4px;
  width: 70px;
  background: linear-gradient(to right, rgba(233, 83, 110), rgba(76, 76, 123));
  margin: 16px auto;
}

.service .service-img {
  position: relative;
}

.service .service-img .icon {
  width: 70px;
  height: 70px;
  background: linear-gradient(to right, rgba(233, 83, 110), rgba(76, 76, 123));
  color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.icon ion-icon {
  font-size: 32px;
}
.cause-items {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
}
.feature i {
  background: -webkit-linear-gradient(#8bb174, #2a4849);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 54px;
}

.review {
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}
.review .person {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding-bottom: 18px;
}

.review .person img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

.sponsor-image {
  max-width: 15rem;
}
.sponsor-image img {
  width: 100% !important;
}
.about-image {
  border-radius: 4px;
  overflow: hidden;
}

footer {
  background: #fff;
  color: #555;
}
.contact-icon {
  font-size: 36px;
}
.contact-icon a {
  color: #fff;
}
.contact-icon a:hover {
  transform: scale(0.5, 0.5);
}
.contact-icon ion-icon {
  cursor: pointer;
}

footer a {
  color: #555;
  font-size: 20px;
}
.accordion-body ul {
  text-align: left;
}
.font-h4 h4 {
  font-size: 1.1rem;
  font-weight: bolder;
}
